
footer{
    position: relative;    
    font-family: 'Vollkorn';
    color: map-get($map: $m-colors, $key: text);
    background: map-get($map: $m-colors, $key: background);
    background: linear-gradient(0deg, map-get($map: $m-colors, $key: gradient) 0%, map-get($map: $m-colors, $key: background) 95%);
    text-align: center;
    padding: 2em;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}