.press{
    &__title{
    font-family: 'Vollkorn', serif;
    color: map-get($map: $m-colors, $key: title);
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    font-size: 36px;
    }
    &__container{
        padding: 5%;
    }
}
.card-img-top:hover{
    cursor: pointer;
    border: 1px map-get($map: $m-colors, $key: title);    
}
@media screen and (max-width: 900px){
    .carousel-control-prev,
    .carousel-control-next {
        width: 3.5%;
    }
}
@media screen and (max-width: 600px){
    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
    }
}
@media screen and (max-width: 450px){
    .carousel-control-prev,
    .carousel-control-next {
        width: 7%;
    }
}
@media screen and (max-width: 350px){
    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }
    .press{
        &__container{
            padding: 0%;
        }
    }       
}