.press{
    &__title{
    font-family: 'Vollkorn', serif;
    color: map-get($map: $m-colors, $key: title);
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    font-size: 36px;
    }
}