
.bio__title{
    font-family: 'Vollkorn', serif;
    color: orange;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    font-size: 36px;
}
.bio__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.bio__image{
    width: 35%;
    padding: 1%;
    box-sizing: border-box;
    min-width: 270px;
}
.bio__par{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    width: 50%;
    padding: 1%;
    box-sizing: border-box;
    line-height: 1.5;    
    min-width: 270px;
}
.bio__par-p{
    margin-bottom: 15px;
}
@media screen and (max-width: 539px){
    .bio__image{
        width: 85%;
    }
    .bio__par{
        width: 85%;
        padding-top: 10%;
    }
}
@media screen and (width: 540px){
    .bio__image{
        width: 86%;
    }
    .bio__par{
        width: 85%;
        padding-top: 10%;
    }
}
@media screen and (max-width: 290px){
    .bio__image{
        min-width: 250px;
    }
    .bio__par{
        min-width: 250px;
    }
}