@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

.roboto {
  font-family: 'Roboto', sans-serif; }

.white {
  /*aqui creo una etiqueta de estilo llamada white, la llamo en HTML con la propiedad class*/
  color: white; }

a {
  /* aún hay que revisar el color que se va a aplicar */
  text-decoration: none;
  color: white;
  transition: all 0.5s linear; }
  a:hover {
    color: darkorange; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.back1 {
  background-image: url(/Proyecto-HTML/img/efs-4.webp);
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #292929; }

header {
  color: white;
  background: #292929;
  background: linear-gradient(180deg, black 0%, #292929 85%);
  text-align: center;
  position: fixed;
  z-index: 901;
  top: 0;
  right: 0;
  left: 0;
  bottom: 85%;
  box-sizing: border-box;
  block-size: 170px; }

#header__cont {
  padding: 10px;
  font-family: 'Vollkorn'; }

.header__title {
  font-size: 32px;
  color: darkorange;
  padding-top: 2%; }

.header__subtitle {
  font-size: 24px;
  margin-bottom: 10px; }

nav {
  font-family: 'Vollkorn';
  text-align: center; }

ul {
  list-style: none; }

li {
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%; }

main {
  position: relative;
  margin-top: 170px;
  padding-top: 2%;
  background-color: #292929;
  background-size: contain;
  color: white;
  padding-bottom: 3em;
  min-height: 80vh; }

footer {
  position: relative;
  font-family: 'Vollkorn';
  color: white;
  background: #292929;
  background: linear-gradient(0deg, black 0%, #292929 95%);
  text-align: center;
  padding: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; }

.index__title {
  text-align: center;
  margin: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 36px;
  font-family: 'Vollkorn'; }

.index__subtitle {
  text-align: center;
  margin: 20px;
  padding-top: 0px;
  box-sizing: border-box;
  font-size: 28px; }

.index__container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  object-fit: cover;
  padding-top: 5%; }

.index__par {
  grid-column-start: 2;
  text-align: center;
  font-family: 'Oranienbaum', serif;
  font-size: 22px;
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
  line-height: 1.5;
  min-width: 260px; }

.container__img {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 2fr;
  grid-gap: 10px;
  padding: 1% 5% 1%;
  width: 100%;
  min-width: 260px;
  aspect-ratio: calc(3/2); }

.item:nth-child(1) {
  grid-column-start: span 2; }

.img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media screen and (max-width: 1000px) {
  .index__container {
    grid-template-columns: repeat(1, 1fr); }
  .index__par {
    grid-column-start: 1; }
  .container__img {
    width: 70%; } }

@media screen and (max-width: 500px) {
  .index__par {
    font-size: 20px;
    padding: 5%; } }

.bio__title {
  font-family: 'Vollkorn', serif;
  color: orange;
  text-align: center;
  margin: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 36px; }

.bio__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center; }

.bio__image {
  width: 35%;
  padding: 1%;
  box-sizing: border-box;
  min-width: 270px; }

.bio__par {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  width: 50%;
  padding: 1%;
  box-sizing: border-box;
  line-height: 1.5;
  min-width: 270px; }
  .bio__par-p {
    margin-bottom: 15px; }

@media screen and (max-width: 539px) {
  .bio__image {
    width: 85%; }
  .bio__par {
    width: 85%;
    padding-top: 10%; } }

@media screen and (width: 540px) {
  .bio__image {
    width: 86%; }
  .bio__par {
    width: 85%;
    padding-top: 10%; } }

@media screen and (max-width: 290px) {
  .bio__image {
    min-width: 240px; }
  .bio__par {
    min-width: 240px; } }
