@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

.roboto {
  font-family: 'Roboto', sans-serif; }

.white {
  /*aqui creo una etiqueta de estilo llamada white, la llamo en HTML con la propiedad class*/
  color: white; }

a {
  /* aún hay que revisar el color que se va a aplicar */
  text-decoration: none;
  color: white;
  transition: all 0.5s linear; }
  a:hover {
    color: darkorange; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.back1 {
  background-image: url(/Proyecto-HTML/img/efs-4.webp);
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #292929; }

header {
  color: white;
  background: #292929;
  background: linear-gradient(180deg, black 95%, #292929 100%);
  text-align: center;
  position: fixed;
  z-index: 901;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  block-size: 130px; }

.header__title {
  font-size: calc(1rem + 1vw);
  color: darkorange;
  padding-top: 2%;
  font-family: 'Vollkorn'; }

.header__subtitle {
  font-size: calc(0.9rem + 1vw);
  margin-bottom: 10px;
  font-family: 'Vollkorn'; }

#header__cont {
  padding: 10px 0 10px 5%;
  font-family: 'Vollkorn'; }

nav {
  font-family: 'Vollkorn';
  align-items: center; }

ul {
  list-style: none;
  font-size: calc(1rem + 0.2vw); }

.li {
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%; }

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: darkorange; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

@media screen and (max-width: 350px) {
  .header__title {
    font-size: calc(0.9rem + 1vw);
    color: darkorange;
    padding-top: 2%;
    font-family: 'Vollkorn'; }
  .header__subtitle {
    font-size: calc(0.9rem + 1vw);
    margin-bottom: 10px;
    font-family: 'Vollkorn'; }
  .navbar-toggler {
    padding: 0.2rem 0.3rem;
    font-size: 0.9rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out; } }

@media screen and (min-width: 1000px) {
  header {
    block-size: 150px; } }

@media screen and (min-width: 500px) {
  #header__cont {
    padding: 10px 0 10px 10%; } }

main {
  position: relative;
  margin-top: 120px;
  padding-top: 2%;
  background-color: #292929;
  background-size: contain;
  color: white;
  padding-bottom: 3em;
  min-height: 80vh; }

footer {
  position: relative;
  font-family: 'Vollkorn';
  color: white;
  background: #292929;
  background: linear-gradient(0deg, black 30%, #292929 95%);
  text-align: center;
  padding: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; }

.index__title {
  text-align: center;
  margin: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 36px;
  font-family: 'Vollkorn'; }

.index__subtitle {
  text-align: center;
  margin: 20px;
  padding-top: 0px;
  box-sizing: border-box;
  font-size: 28px; }

.index__container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  object-fit: cover;
  padding-top: 5%; }

.index__par {
  grid-column-start: 2;
  text-align: center;
  font-family: 'Oranienbaum', serif;
  font-size: 22px;
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
  line-height: 1.5;
  min-width: 260px; }

.container__img {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 2fr;
  grid-gap: 10px;
  padding: 1% 5% 1% 10%;
  width: 100%;
  min-width: 260px;
  aspect-ratio: calc(3/2); }

.index__item:nth-child(1) {
  grid-column-start: span 2; }

.index__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media screen and (max-width: 1000px) {
  .index__container {
    grid-template-columns: repeat(1, 1fr); }
  .index__par {
    grid-column-start: 1; }
  .container__img {
    width: 70%; } }

@media screen and (max-width: 500px) {
  .index__par {
    font-size: 20px;
    padding: 5%; } }

.bio__title {
  font-family: 'Vollkorn', serif;
  color: orange;
  text-align: center;
  margin: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 36px; }

.bio__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center; }

.bio__image {
  width: 35%;
  padding: 1%;
  box-sizing: border-box;
  min-width: 270px; }

.bio__par {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  width: 50%;
  padding: 1%;
  box-sizing: border-box;
  line-height: 1.5;
  min-width: 270px; }
  .bio__par-p {
    margin-bottom: 15px; }

@media screen and (max-width: 539px) {
  .bio__image {
    width: 85%; }
  .bio__par {
    width: 85%;
    padding-top: 10%; } }

@media screen and (width: 540px) {
  .bio__image {
    width: 86%; }
  .bio__par {
    width: 85%;
    padding-top: 10%; } }

@media screen and (max-width: 290px) {
  .bio__image {
    min-width: 240px; }
  .bio__par {
    min-width: 240px; } }

.main__contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: rgba(41, 41, 41, 0);
  justify-items: center;
  align-content: start; }

.contact__background {
  align-self: center;
  justify-self: center;
  object-fit: cover;
  z-index: -50;
  position: absolute;
  filter: grayscale(100%);
  width: 100%;
  height: 100%; }

.contact__title {
  font-family: 'Vollkorn', serif;
  color: darkorange;
  text-align: center;
  margin: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  font-size: 36px; }

.contact__form {
  box-sizing: border-box;
  display: grid;
  position: absolute;
  grid-row-start: 2;
  align-self: flex-start;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  min-width: 270px;
  max-width: 700px;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  padding: 0 10px; }
  .contact__form-input {
    text-align: center;
    justify-content: center;
    object-fit: cover; }

.contact__form-input:nth-child(1) {
  grid-column-start: span 2; }

.contact__form-input:nth-child(2) {
  grid-column-start: span 2; }

.contact__form-input:nth-child(4) {
  grid-column-start: span 2; }

.contact__form-input:nth-child(5) {
  grid-column-start: span 3;
  grid-row-start: span 3; }

.contact__form-input:nth-child(6) {
  grid-column-start: span 2; }

.contact__form-input:nth-child(6) {
  grid-column-start: span 2; }

.contact__form-input:nth-child(7) {
  grid-column-start: span 2; }

input {
  width: 100%;
  height: 100%;
  transition: all 0.5s linear; }
  input:focus {
    background-color: #ffdb99; }

textarea {
  width: 100%;
  padding-top: 10%;
  transition: all 0.5s linear; }
  textarea:focus {
    background-color: #ffdb99; }

.request {
  font-family: 'Vollkorn';
  color: darkorange;
  background-color: #292929;
  grid-column-start: span 5;
  text-align: center; }

@media screen and (max-width: 300px) {
  input {
    font-size: 65%; } }

.galery__title {
  font-family: 'Vollkorn', serif;
  color: darkorange;
  text-align: center;
  margin: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 36px; }

.galery__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  row-gap: 1%;
  column-gap: 1%;
  aspect-ratio: none; }

.galery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 600px; }

.galery__item:nth-child(1) {
  grid-column-start: span 2; }

.galery__item:nth-child(8) {
  grid-column-start: span 2; }

.galery__item:nth-child(15) {
  grid-column-start: span 2; }

.galery__item:nth-child(16) {
  grid-column-start: span 2; }

.galery__item:nth-child(18) {
  grid-column-start: span 2; }

.galery__item:nth-child(20) {
  grid-column-start: span 2; }

.galery__item:nth-child(21) {
  grid-column-start: span 2; }

.galery__item:nth-child(22) {
  grid-column-start: span 3; }

.galery__item:nth-child(24) {
  grid-column-start: span 2; }

.galery__item:nth-child(25) {
  grid-column-start: span 2; }

.galery__item:nth-child(26) {
  grid-column-start: span 2; }

.galery__item:nth-child(27) {
  grid-column-start: span 2; }

@media screen and (max-width: 800px) {
  .galery__container {
    grid-template-columns: repeat(3, 1fr); }
  .galeryitem:nth-child(1) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(4) {
    grid-column-start: span 2; }
  .galeryitem:nth-child(7) {
    grid-column-start: span 2; }
  .galeryitem:nth-child(11) {
    grid-column-start: span 2; }
  .galeryitem:nth-child(15) {
    grid-column-start: span 3; }
  .galeryitem:nth-child(20) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(25) {
    grid-column-start: span 3; }
  .galeryitem:nth-child(26) {
    grid-column-start: span 2; }
  .galeryitem:nth-child(27) {
    grid-column-start: span 1; } }

@media screen and (max-width: 600px) {
  .galery__container {
    grid-template-columns: repeat(2, 1fr); }
  .galeryitem:nth-child(1) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(2) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(3) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(4) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(5) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(6) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(7) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(8) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(9) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(10) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(11) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(12) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(13) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(14) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(15) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(16) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(17) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(18) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(19) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(20) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(21) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(22) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(23) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(24) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(25) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(26) {
    grid-column-start: span 1; }
  .galeryitem:nth-child(27) {
    grid-column-start: span 1; } }

.press__title {
  font-family: 'Vollkorn', serif;
  color: darkorange;
  text-align: center;
  margin: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 36px; }

.video__title {
  font-family: 'Vollkorn', serif;
  color: darkorange;
  text-align: center;
  margin: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 36px; }

.video__container {
  box-sizing: border-box; }
