.video__title{
    font-family: 'Vollkorn', serif;
    color: orange;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    box-sizing: border-box;
    font-size: 36px;
}
.video__container{
    box-sizing: border-box
}